@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    font-family: 'Oswald', sans-serif;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

.wrapper{
    /* width:1248px; */
    width:80%;
    height:1000px;
    margin:0 auto;
}

.wrap-container{
    margin-top:5px;
}

#banner{
    display:flex;
    justify-content: center;
    align-items: center;
    height:300px;
    box-shadow: 0px 0px 5px -2px;
}
/*Navigation bar*/
nav{
    height:70px;
    /* background: linear-gradient(to bottom, #00ffb3 0%,#63a46c 100%); */
    background: linear-gradient(to bottom, #e6ffcc 0%,#ccffff 100%);
    box-shadow: 0px 0px 5px -2px;
}


/*Set the link to have no colour rules*/
nav a{
    text-decoration: none;
    color:black;
    font-size:30px;
}

.link-nodeco{
    text-decoration:none;
    color:blue;
}

/*Set the conainer of the lists to flexbox positioning - horizontally centered*/
nav ul{
    display:flex;
    justify-content: center;
}

/*Setting the outlook of the link*/
nav li{
    text-align:center;
    list-style-type:none;
    width:15%;
    height:70px;
    line-height:70px;
}

/*Setting the outlook of the link when hovered*/
nav li:hover{
    background-color:white;
}

/*END OF Navigation bar*/

.content-container{
    width:100%;
}

.content-section-s, .content-section-xs, .content-section-m, .content-section-l{
    margin-top:2%;
}

.content-section-xs{
    height:150px;
}

.content-section-s{
    height:500px;
}

.content-section-m{
    height:700px;
}

.content-section-l{
    height:1100px;
}

.content-section-xl{
    height:100%;
    padding-bottom:5%;
}

/*Container Interface*/
.template-0{
    background: linear-gradient(to bottom, #e6ffcc 0%,#ccffff 100%);
    box-shadow: 0px 0px 5px -2px;
}

/*Flex box settings*/
.set-h-flex{
    display:flex;
    justify-content: center;
}

.set-vh-flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.set-dir-v{
    flex-direction: column;
}

.set-hf-flex{
    display:flex;
    justify-content:flex-start;
}

.f-width{
    width:100%;
}

/*Table templates*/
#introductions table, #bio-divider table, #web-technologies table{
    /* width:40%; */
    width:480px;
}

#biography table{
    /* width:60%; */
    width:750px;
}

#skills-container{
    /* width:80%; */
    width:830px;
}



/*Paragraph Left/Right padding*/
.pl-m, .pl-m p, .pl-m h2, .pl-m h3{
    padding-left:5%;
}

.pr-m, .pr-m p, .pr-m h2, .pr-m h3{
    padding-right:5%;
}

.pl-s, .pl-s p, .pl-s h2, .pl-s h3{
    padding-left:2%;
}

.pr-s, .pr-s p, .pr-s h2, .pr-s h3{
    padding-right:2%;
}

.pl-l, .pl-l p, .pl-l h2, .pl-l h3{
    padding-left:10%;
}

.pr-l, .pr-l p, .pr-l h2, .pr-l h3{
    padding-right:10%;
}

.pt-m{
    padding-top:2%;
}

.pt-l{
    padding-top:5%;
}
/*Set Margins*/

.mt-s{
    margin-top:2%;
}

.mb-s{
    margin-bottom:2%;
}

.ml-s{
    margin-left:2%;
}

.mr-s{
    margin-right:2%;
}

.mt-m{
    margin-top:5%;
}

.mb-m{
    margin-bottom:5%;
}

.ml-m{
    margin-left:5%;
}

.mr-m{
    margin-right:5%;
}

.mt-xxl{
    margin-top:10%;
}

.mt-xl{
    margin-top:8%;
}
/*Text alignment*/
.talign-l{
    text-align:left;
}

.talign-c{
    text-align:center;
}

.talign-r{
    text-align:right;
}

.talign-j{
    text-align:justify;
}

/*Font Weight*/
.t-bold{
    font-weight:bold;
}

/*Font size*/

.t-s-s{
    /* font-size: 15px; */
    font-size:0.938em;
}

.t-s-m{
    /* font-size:20px; */
    font-size:1.25em;
}

.t-s-l{
     /* font-size:30px;  */
    font-size:1.8em;
    
}

.t-s-xl{
    /* font-size:40px;  */
    font-size:2.8em;
}

.t-s-xxl{
    /* font-size:50px; */
    font-size:3em;
}

/*Skills*/

.row-title-left,.row-title-center{
    display:flex;
    align-items: center;
}

.row-title-left{
    justify-content:flex-start;
}

.row-title-center{
    justify-content:center;
}

.row-content-m, .row-content-l{
    align-items:center;
    justify-content:space-between;
}

.row-content-m{
    width:70%;
}

.row-content-l{
    width:100%;
}

.row-name{
    width:10%;
    text-align:center;
}

.row-name-2
{
    width:100%;
    text-align:center;
}

.skill-bar{
    width:500px;
    height:50px;
}

.v-align{
    vertical-align:top;
}

/*Vertical Alignmments*/
.vt-align{
    vertical-align:top;
}

.vb-align{
    vertical-align:bottom;
}

.vc-align{
    vertical-align:center;
}

.row-item-0{
    width:30%;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.row-item-1{
    width:10%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.row-item-2{
    display:flex;
    width:30%;
    justify-content:center;
    align-items: center;
}

.row-item-2{
    width:100%;
}

.bg-red{
    background-color:red;
}

/*Project Image*/
.clear{
    clear:both;
}

.project-item{
    width:80%;
}

/*TESTING*/